@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "PT Sans", sans-serif; */
  font-family: "PT Mono", monospace;
}

.info {
  display: grid;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  grid-template-columns: 400px;
  grid-template-rows: 160px 80px;
  align-items: center;
}

body {
  background-image: linear-gradient(rgb(181, 184, 181), rgba(7, 7, 7, 0.883));
}
/* 
.info div {
  border: 2px solid black;
} */
.devImg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid #000000 1px;
}

/* .links-main-con {
  border: solid black 1px;
} */

.links-con {
  /* border: solid rgb(250, 17, 17) 1px; */
  display: grid;
  grid-template-columns: 600px;
  justify-content: center;
  gap: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.link {
  /* border: solid rgb(250, 17, 17) 1px; */
  border-radius: 10px;
  background-color: #ffffff77;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 200px;
  border: none;
}

.icons {
  margin-left: 20px;
  color: white;
}

h1 {
  color: white;
}

#linkStyle {
  text-decoration: none;
  color: #000000;
}

.bottom-links-con {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.bIcons {
  color: white;
}

.bottom-main-con {
  padding-bottom: 100px;
}
