* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info {
  display: grid;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  grid-template-columns: 400px;
  grid-template-rows: 160px 80px;

  align-items: center;
}
/* 
.info div {
  border: 2px solid black;
} */
.devImg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid black 1px;
}
