* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info {
  display: grid;

  justify-content: center;
  margin-top: 20px;
  grid-template-columns: 400px;
  grid-template-rows: 150px 80px;
  gap: 30px;
}

.info div {
  border: 2px solid black;
}
